<!doctype html>
<html>
<title><%= APP_NAME %></title>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="assets/icon_stormtrooper.png" />
    <link rel="stylesheet" href="https://unpkg.com/xterm@4.11.0/css/xterm.css" />
    <link rel="stylesheet" href="assets/terminal.css" />
</head>

<body>
    <div id="terminal"></div>
    <script type="text/javascript" src="https://unpkg.com/xterm@4.11.0/lib/xterm.js"></script>
    <script type="text/javascript" src="assets/terminal.js"></script>
    <script type="text/javascript" src="assets/commands.js"></script>
</body>
</html>